# --- SEGURIDAD (CRÍTICO) ---
service_account.json
client_secret.json
credentials.json
.env

# --- PYTHON ---
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/

# --- LOGS Y BASURA ---
logs/
*.log
npm-debug.log

# --- EXCEL / DATA ---
~$*.xlsx
*.tmp

# --- IDEs ---
.vscode/
.idea/

# --- DBT (Si estás usando dbt) ---
target/
dbt_packages/
logs/dbt.log
*.duckdb
*.db
*.sql
# --- SISTEMA ---
.DS_Store
Thumbs.db