# --- SEGURIDAD (CRÍTICO) ---
service_account.json
client_secret.json
credentials.json
*.env
reglas_negocio.json

# --- PYTHON ---
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/
a.py
b.py

# --- LOGS Y BASURA ---
logs/
*.log
npm-debug.log
*.csv
# --- ARCHIVOS DE TEXTO ---
*.txt
# --- EXCEL / DATA ---
~$*.xlsx
*.tmp

# --- IDEs ---
.vscode/
.idea/

# --- DBT (Si estás usando dbt) ---
target/
dbt_packages/
logs/dbt.log
*.duckdb
*.db
*.sql
# --- SISTEMA ---
.DS_Store
Thumbs.db
transformacion/ETLs/bootstrapping_sla.py
transformacion/ETLs/ordenes_servicio.py
transformacion/ETLs/investigar_abril.py
